.footer-link {
    color: white; /* Set link color to white */
    text-decoration: none; /* No underline by default */
    position: relative; /* Necessary for positioning pseudo-elements */
}

.footer-link::after {
    content: '';
    position: absolute;
    width: 0; /* Starts with no width */
    height: 2px;
    bottom: -2px; /* Position right below the text */
    left: 50%; /* Start expanding from the middle */
    background-color: #A90015; /* Red underline */
    transition: all 0.3s ease; /* Smooth transition for the effect */
    opacity: 0; /* Hide by default */
}

.footer-link:hover::after {
    width: 100%; /* Full width on hover */
    left: 0; /* Align to left edge */
    opacity: 1; /* Make it visible on hover */
}
