
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:wght@200&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img, video{
  max-width: 100%;
  height: auto;
  display: block;
}

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #252323 !important;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    color: #fff;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size: 32px;
    color: #fff;
}

h2 {
  color: #A90015 !important;
}

h3 {
  color: #CED2DC !important;

}

.navbar-brand img {
  height: 50px;
}

/* navigation */
nav {
    background-color: transparent; 
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;

  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Evenly space the links */
  }
  
  li {
    padding: 10px;
  }
  
  a {
    color: #fff; /* Link text color */
    text-decoration: none;
    position: relative;
  }

  a:link {
    text-decoration: none;
    color: #fff !important;
  }
  
  a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: transparent;
    width: 0;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Smooth transition */
    color: #fff;
  }
  
  a:hover::after {
    width: 100%;
    left: 0;
    background-color: red; /* Underline color */
  }
  
  a::before {
    content: ''; /* Ensure underline is hidden by default */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: transparent;
    transition: width 0.3s ease-in-out; /* Smooth transition */
  }
  
  a:hover::before {
    width: 100%; /* Ensure underline is shown when hovered over */
    background-color: red; /* Underline color */
  }

  a:visited {
    color: #fff;
  }
  
  /* end navigation   */

.hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    margin-top: 0;
}

.btn {
    display: inline-block;
    background-color: #FF5733;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.movies {
    padding: 50px 0;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}



