header {
    height: 75vh;
    background-color: black; /* Fallback color */
    background-image: url('../media/pulpFiction.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header-content img {
    max-width: 100%;
    max-height: 100%;
}
